@import 'tailwindcss';

@layer base {
  html {
    @apply h-full antialiased;
  }

  body {
    @apply text-gray-700 flex min-h-full flex-col overflow-x-hidden;
  }

  /* typography style for the Text component */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-900;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  section h2 {
    @apply mb-1;
  }
}
